body{
    color:rgb(16, 196, 55);
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    marging: 0;
    padding: 0;
}
#cabecera{

    background: rgb(86, 86, 223);
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}
#cabecera #logo
{
    width: 20px;
    vertical-align: middle;
}

#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}


#container{
    width: 70%;
    text-align: left;
    padding: 0m;
    border: 1px solid;
    margin: 0 auto;
}
#container h1{
    font-size: 20px;
}

#post{
    padding: 1em;
}

#footer{
    background: #777;
    color: white;
    text-align: center;
    padding: 0.5em;
}