body{
    color:rgb(16, 196, 55);
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    marging: 0;
    padding: 0;
}
#cabecera{

    background: rgb(86, 86, 223);
    box-shadow: 0px 2px 50px 0px rgba(0,0,0,0.75);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}
#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}


#container{
    width: 80%;
    text-align: left;
    padding: 2em;
    border: 2px solid;
    margin: 0 auto;
}
#container h1{
    font-size: 30px;
}

#post{
    padding: 1em;
}